@{
    ViewBag.Title = "BanUsac 1.0";
}

<div class="jumbotron">
    <h1>BanUsac 1.0</h1>
    <p class="lead">BanUsac es la banca online en la cual los estudiantes pueden realizar gestiones sobre su cuenta monetaria.</p>
    <p><a href="https://www.usac.edu.gt/" class="btn btn-primary btn-lg">Learn more USAC &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introducción</h2>
        <p>
            BanUsac 1.0 es un gestor de cuentas bancarias a través de internet, donde se ofrece al cliente una
            manera segura de poder gestionar su cuenta, hacer traspasos de dinero a otras cuentas de otros clientes,
            consultar saldos y demás funcionalidades que harán la vida del cliente más fácil sin necesidad de tener que acudir a una agencia.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Usuarios</h2>
        <p>
            Lista de usuarios registrados en base de datos.
        </p>
        <p>@Html.ActionLink("Catálogo", "Index", "usuarios", routeValues: null, htmlAttributes: new { id = "catalogLink" })</p>
    </div>
</div>